<form>
    <ul>
        <li>aaaaaaaaaa</li>
        <li>aaaaaaaaaa</li>
        <li>aaaaaaaaaa</li>
        <li>aaaaaaaaaa</li>
    </ul>
    <hr />
    <div>
        <button type="submit">
            {{localize "ap.save"}}
        </button>
        <button type="submit">
            {{localize "ap.cancel"}}
        </button>
    </div>
</form>